<div class="main">
    <div id="start">
        <div>
            <h1>Земля у нас одна</h1>
            <p>Помоги нам спасти её</p>
        </div>
    </div>
    <h1 id="issues">Проблемы Земли</h1>
    <div>
        <mat-card>
            <mat-card-title>CO2</mat-card-title>
            <mat-card-content>
                Человечество стало не рационально использовать ресурсы. Из-за этого возникает огромное количество
                проблем с экологией. Но одна из основных - глобальное потепление (вследствие больших выбросов CO2)
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Мусор</mat-card-title>
            <mat-card-content>
                В последнее время человек стал выкидывать мусор который гораздо дольше разлагается. Из-за страдает не
                только человек, но и животные, рыбы и птицы.
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Леса</mat-card-title>
            <mat-card-content>
                Вырубка и сжигание лесов. Вследствие этого уменьшается количество деревьев способных перерабатывать CO2.
                Не стоит забывать, что при их сжигании выделяется огромное количество углекислого газа.
            </mat-card-content>
        </mat-card>
    </div>
    <h1 id="solutions">Как вы можете спасти Землю</h1>
    <div>
        <mat-card>
            <mat-card-title>CO2</mat-card-title>
            <mat-card-content>Снизить количество домашнего скота. Уменьшить количество бензиновых авто. Установка
                хороших фильтров на заводах.</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Мусор</mat-card-title>
            <mat-card-content>Использование экологически чистых продуктов. Правильная сортировка мусора. Переработка
                отходов в новые изделия. </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Леса</mat-card-title>
            <mat-card-content>Высаживание саженцев на места старых деревьев. Предотвращать возможные очаги пламени в
                лесах</mat-card-content>
        </mat-card>
    </div>
    <h1 id="donate">Помочь проекту</h1>
    <div>
        <mat-card>
            <mat-card-title>1000 рублей</mat-card-title>
            <mat-card-content>
                Хорошая помощь проекту.
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Помочь</button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-title>5000 рублей</mat-card-title>
            <mat-card-content>
                Весомая помощь проекту.
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Помочь</button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-title>10000 руб</mat-card-title>
            <mat-card-content>
                Лучшая помощь проекту.
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Помочь</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
